<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Edit</title>
    <link rel="stylesheet" href="/public/css/index.css" />
    <link rel="stylesheet" href="/public/css/styles.css" />
  </head>

  <body id="profile-edit-wrapper">
    <div class="back-to-home">
      <a href="/">Back to home </a>
    </div>

    <section id="profile-edit-form">
      <form method="POST" action="/my-account" id="profile-edit-main">
        <!-- Profile Picture -->
        <section id="edit-profile-picture-card">
          <div
            id="edit-profile-picture"
            class="w-18 h-18 rounded-full overflow-hidden"
          >
            <input
              type="file"
              name="image"
              style="
                width: 100%;
                height: 100%;
                opacity: 0;
                position: absolute;
                z-index: 10;
                cursor: pointer;
              "
              name=""
              id=""
            />
            <img src="<%= user.image %>" alt="Profile" class="object-cover" />
          </div>

          <span id="edit-button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"
              />
            </svg>
          </span>
        </section>

        <!-- Edit Profile Content/inputs -->
        <section id="edit-profile-content">
          <section id="edit-profile-container">
            <!-- Name Input -->
            <article class="edit-profile_input-card">
              <label for="profile-fullName" class="text-xs"> Full name </label>
              <div class="profile-edit-input-card">
                <input
                  name="fullName"
                  class="profile-edit-input"
                  id="profile-fullName"
                  type="text"
                  placeholder="<%= user.fullName %>"
                />
              </div>
            </article>

            <!-- Username Input -->
            <article class="edit-profile_input-card">
              <label for="profile-username" class="text-xs"> Username </label>
              <div class="profile-edit-input-card">
                <input
                  name="userName"
                  class="profile-edit-input"
                  id="profile-username"
                  type="text"
                  placeholder="<%= user.userName %>"
                />
              </div>
            </article>

            <!-- Email Input -->
            <article class="edit-profile_input-card">
              <label for="profile-email" class="text-xs"> Email address </label>
              <div class="profile-edit-input-card">
                <input
                  name="email"
                  class="profile-edit-input"
                  id="profile-email"
                  type="text"
                  placeholder="<%= user.email %>"
                />
              </div>
            </article>

            <!-- Username Input -->
            <article class="edit-profile_input-card">
              <label for="profile-password" class="text-xs"> Password </label>
              <div class="profile-edit-input-card">
                <input
                  name="password"
                  class="profile-edit-input"
                  id="profile-password"
                  type="password"
                />
              </div>
            </article>

            <!-- Birthday Input -->
            <article class="edit-profile_input-card">
              <label for="profile-birthday" class="text-xs"> bio </label>
              <div class="profile-edit-input-card">
                <input
                  name="bio"
                  class="profile-edit-input"
                  id="profile-birthday"
                  type="text"
                  placeholder="<%= user.bio %>"
                />
              </div>
            </article>
          </section>

          <div class="flex" id="edit-porile-button-card">
            <button type="submit" id="edit-profile-button">Save changes</button>
          </div>
        </section>
      </form>
    </section>
  </body>
</html>
